<div class="min-h-screen flex">
    <div class="w-64 bg-gray-800 text-white"> 
        <app-sidebar-collapse></app-sidebar-collapse>
    </div>
    <form [formGroup]="customerGroup" class="flex-1 min-w-0 overflow-auto bg-indigo-50 px-2"> <!-- Main content takes remaining space -->
        <div class="mb-20" style="margin-left: -29px;">
            <div class="bg-card p-4 w-full rounded-lg">
                <nav class="flex" aria-label="Breadcrumb">
                    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                        <li class="inline-flex items-center">
                            <a href="#" class="inline-flex items-center text-3xl font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                                <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                                </svg>
                                Customer
                            </a>
                        </li>
                        <li>
                            <div class="flex items-center">
                                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                </svg>
                                <a href="#" class="ms-1 text-3xl font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">Customer Management</a>
                            </div>
                        </li>
                        <li aria-current="page">
                      
                    </ol>
                </nav>

                <div style="display: flex; justify-content: flex-end;margin-bottom: 23px;">
                    <button (click)="moveToManage()" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded-full">
                      Move To Manage
                    </button>
                  </div>
            </div>

<!-- header -->
<div class="mt-5">
    <li class="flex-1 mr-2">
        <a class="mt-[-103px] block border rounded py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white font-bold" href="#" style="background: #445760d9; margin-left: 36px;">
            Create Customer
        </a>
    </li>
</div>

<div class="mt-15 mb-20 grid grid-cols-3 gap-x-8 gap-y-4 p-4" style="margin-top: -41px;">

   


    <div style="margin-left: 26px;">
        <label for="customer_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" style="margin-left: 10px;">Customer Type</label>
        <select formControlName="customer_type" class="bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 w-full p-2.5 custom-input" id="customer_id" required>
            <option value="general">General</option>
            <br>
            <option value="regular">Regular</option>
        </select>
    </div>
    

    
      <div style="margin-left: 26px;">
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" style="margin-left: 10px;">Customer Name</label>
        <input formControlName="customer_name" class="bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 w-full p-2.5 custom-input" type="text" id="first_name"  required>
    </div>

    <div style="margin-left: 26px;">
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" style="margin-left: 10px;">Mobile No</label>
        <input formControlName="mobile_no"  class="bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 w-full p-2.5 custom-input" type="text" id="first_name"  required>
    </div>

    <div style="margin-left: 26px;">
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" style="margin-left: 10px;">Address</label>
        <input formControlName="address"  class="bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 w-full p-2.5 custom-input" type="text" id="first_name"  required>
    </div>

    <div style="margin-left: 26px;">
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" style="margin-left: 10px;">City / Area</label>
        <input formControlName="city_area"  class="bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 w-full p-2.5 custom-input" type="text" id="first_name"  required>
    </div>

    <div style="margin-left: 26px;">
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" style="margin-left: 10px;">State</label>
        <input formControlName="state" class="bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 w-full p-2.5 custom-input" type="text" id="first_name"  required>
    </div>

    <div style="margin-left: 26px;">
        <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" style="margin-left: 10px;">Remarks</label>
        <input formControlName="remarks" class="bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 w-full p-2.5 custom-input" type="text" id="first_name"  required>
    </div>
</div>
</div>
<div style="display: flex; justify-content: flex-end;">
    <button *ngIf="!updatePage" (click)="addToSave()" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded-full">
        Save
    </button>
    <button *ngIf="updatePage" (click)="addToUpdate()" class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded-full">
      Update
  </button>
</div>

</form>
</div>
