




.hidden {
  display: none;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s;
}


.flex {
  display: flex;
  align-items: center;
}

.items-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.p-2 {
  padding: 0.5rem;
}

.hover\:bg-blue-600:hover {
  background-color: #2563eb; /* Adjust this color as needed */
}

.rounded-md {
  border-radius: 0.375rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}
